[/]
tools.staticdir.root= "/home/diogosilva/Documents/security-iecds-drm/src/server/static"
tools.staticdir.on = True
tools.staticdir.dir = "."
tools.staticdir.index = "index.html"

[/app]
tools.staticdir.on = True
tools.staticdir.dir = "app"

[/server]
tools.staticdir.on = True
tools.staticdir.dir = "server"

[/vendor]
tools.staticdir.on = True
tools.staticdir.dir = "vendor"
