/home/myrddin/Documents/security-iecds-drm/src/server/static/master/js/modules/directives/* linguist-vendored
/home/myrddin/Documents/security-iecds-drm/src/server/static/master/js/modules/services/* linguist-vendored
