<div class="text-center">
	<h2>Team description</h2>
	<span>Security - P4G1</span><br/>
	<span>Repository: <a href="https://github.com/dbtdsilva/security-iecds-drm">https://github.com/dbtdsilva/security-iecds-drm</a></span>
</div><br/><br/>
<div class="row">
	<div class="col-md-4 text-right">
		<h4>Diogo Bastos Tavares da Silva</h4>
		<span><b>Número Mecanográfico:</b> 60337</span><br/>
		<span><b>Curso:</b> Mestrado Integrado em Computadores e Telemática</span><br/>
		<span><b>Email:</b> <a href="mailto:dbtds@ua.pt">dbtds@ua.pt</a></span>
	</div>
	<div class="col-md-2">
		<a class="thumbnail">
			<img src="https://en.gravatar.com/userimage/37376197/baf51b5f758c17805406870f7b702b36.jpg?size=300"/>
		</a>
	</div>
	<div class="col-md-2">
		<a class="thumbnail">
			<img src="https://en.gravatar.com/userimage/37376197/37cf65657c72515976d11c613847db50?size=300" />
		</a>
	</div>
	<div class="col-md-4">
		<h4>Tânia Sofia Vilaranda Alves</h4>
		<span><b>Número Mecanográfico:</b> 60340</span><br/>
		<span><b>Curso:</b> Mestrado Integrado em Computadores e Telemática</span><br/>
		<span><b>Email:</b> <a href="mailto:taniaalves@ua.pt">taniaalves@ua.pt</a></span>
	</div>
</div>
