<div ng-controller="TitlesController">
	<h2>Titles</h2>
	<div class="row">
		<div class="col-md-4" ng-repeat="title in titles">
			<span>Title: {{ title.title }}</span><br/>
			<span>Author: {{ title.author }}</span><br/>
			<span>Category: {{ title.category }}</span><br/>
			<span>Production Date: {{ title.production_date }}</span><br/><br/>
			<div ng-if="user.loggedIn">
				<button class="btn btn-primary btn-sm" disabled="disabled" ng-if="title.boughtdate != undefined">
					Already bought!
				</button>
				<button class="btn btn-primary btn-sm" ng-if="title.boughtdate == undefined" ng-click="buy(title.id)">
					Buy title!
				</button>
			</div>
			<br/><br/>
		</div>
	</div>
</div>