<!-- Inline template with sidebar items markup and ng-directives-->
<script type="text/ng-template" id="sidebar-renderer.html">
    <a ng-href="{{$state.href(item.sref, item.params)}}" title="{{item.text}}">
        <em ng-hide="inSubmenu" class="{{item.icon}}"></em>

        <div ng-if="item.alert" class="label label-success pull-right">{{item.alert}}</div>
        <span>{{item.text}}</span>
    </a>
    <ul ng-if="item.submenu" collapse="isCollapse(pIndex)" ng-init="addCollapse(pIndex, item)"
        class="nav sidebar-subnav">
        <li class="sidebar-subnav-header">{{item.text}}</li>
        <li ng-repeat="item in item.submenu" ng-include="'sidebar-renderer.html'"
            ng-class="getMenuItemPropClasses(item)" ng-init="pIndex=(pIndex+'-'+$index); inSubmenu = true"
            ng-click="toggleCollapse(pIndex)"></li>
    </ul>
</script>

<nav class="navbar navbar-inverse navbar-fixed-top" ng-controller="SidebarController">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" 
                    data-toggle="collapse" data-target="#navbar" 
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">{{ app.name }}</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <!--<li class="active"><a href="#">Home</a></li>
                <li><a ui-sref="app.about">Team description</a></li>
                <li><a href="#contact">Contact</a></li>-->
                <li ng-class="getMenuItemPropClasses(item)" 
                    ng-repeat="item in menuItems" 
                    ng-init="pIndex = $index"
                    ng-include="'sidebar-renderer.html'"
                    ng-click="toggleCollapse(pIndex, true)"></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>

